* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container .main {
    flex: 1 1 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.nv-right a {
    margin: 0 25px;
    color:aliceblue;
    font-weight: 900;
}

.nv-left a:hover {
   transition: 0.2s;
   filter: brightness(5);
}
.field {
    background-color: black;
    border: 1px solid rgb(203, 92, 255);

}
.field h1 {
    color: white;
    border: 1px solid rgb(53, 85, 228);
    padding: 2px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: solid;
    color:rgb(55, 206, 55);
    transition: 0.2s;
}

footer {
    background-color: black;
}
footer a {
    margin: 0 15px;
    color: white;
    font-weight: 600;
}
.main {
    background-color: rgb(247, 244, 226);
}